@{
	ViewData["Title"] = "Index";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
	@Html.EditorForModel()
	<div class="editor-field">
		<input type="submit" value="Save" class="btn" />
	</div>
</form>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}