@model DynamicList.Core.Test.ViewModels.CompanyModel
@addTagHelper *, Zoka.AspNetCore.Components.DynamicList

@{
	ViewData["Title"] = "Index";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
	@Html.EditorForModel()
	<div class="editor-field">
		<input type="submit" value="Save" class="btn" />
	</div>
</form>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	@*
		<script src="~/lib/DynamicList/DynamicList.js" asp-append-version="true"></script>
	*@
	
	@*<script>
		$("#DynamicList_Employees").DynamicList(
			"@typeof(DynamicList.Core.Test.ViewModels.EmployeeModel).AssemblyQualifiedName",
			"@ViewData.TemplateInfo.GetFullHtmlFieldName("Employees")",
			{
				OnBeforeItemDelete: function () {
					return confirm("Are you sure you want to delete the item?");
				},
				OnBeforeItemAdd: function () {
					return confirm("Are you sure you want to add new item?");
				}
			});
	</script>*@
	<template-scripts render key-name="DynamicListScripts"></template-scripts>
}