@model object

<div class="DynamicList-RemoveItemButtonWrapper">
	<button type="button" class="DynamicList-RemoveItemButton">
		<span>X</span>
	</button>
</div>

<div class="DynamicList-ItemEditorWrapper">
	@Html.EditorForModel(null, (string)ViewData["HtmlFieldPrefix"])
</div>
